[submodule "src/tensorflow"]
	path = src/tensorflow
	url = git@github.com:Luolin0826/tensorflow.git
[submodule "tensorflow"]
	branch = sync-cpu-no-copy
[submodule "src/mbm-pycls"]
	path = src/mbm-pycls
	url = git@github.com:Luolin0826/mbm-pycls.git
[submodule "src/pycls"]
	path = src/pycls
	url = git@github.com:Luolin0826/pycls.git
